* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region debug */

.debug .container {
    background-color: orange;
    min-height: 600px;
}

.debug .row {
    min-height: 300px;
    background-color: red;
}

.debug .h-80 {
    height: 80px;
}

.debug .h-40 {
    height: 40px;
}

.debug .h-300 {
    height: 300px;
}

.debug [class^="col-"] {
    min-height: 100%;
    background-color: red;
    border: 1px dashed black;
}

.debug .hero {
    background-color: #fff679;
    min-height: 500px;
}

.debug .col-4,
.debug .col-8 {
    background-color: palegreen;
}

.debug .card {
    background-color: deeppink;
    min-height: 100px;
}

/* #endregion debug */

/* #region commons */

body {
    font-family: 'gg sans medium', sans-serif;
}

a {
    text-decoration: none;
    color: var(--ds-white);
}

li {
    list-style: none;
}

/* #endregion commons */

/* #region utilities */

:root {
    --hero-color: #255EE9;
    --ds-dark: #23272a;
    --ds-purple: #7289da;
    --ds-light-purple: #8ea1e1;
    --ds-white: #fff;
}

.d-flex {
    display: flex;
}

.py-1 {
    padding: 0.25rem 0;
}

.py-4 {
    padding: 1rem 0;
}

.py-8 {
    padding: 2rem 0;
}

.py-12 {
    padding: 3rem 0;
}

.my-8 {
    margin: 2rem 0;
}

.col-2 {
    width: calc(100%/12 * 2);
}

.col-4 {
    width: calc(100%/12 * 4);
}

.col-8 {
    width: calc(100%/12 * 8);
}

.text-center {
    text-align: center;
}

.button {
    padding: .5rem 1rem;
    border-radius: 20px;
}

/* #endregion utilities */

#site_header {
    background-color: var(--hero-color);
}

#site_header [class^='col-'] {
    padding: .25rem 0;
}

.container {
    max-width: 1170px;
    width: 80%;
    margin: auto;
}

.row {
    display: flex;
    text-decoration: none;
}

.logo {
    width: 100%;
    line-height: 200%;
}

.nav {
    justify-content: space-around;
    padding: .5rem;
}

.login, .register {
    text-align: right;
    padding: .5rem;
}

.login a {
    padding: .5rem 1rem;
    border-radius: 20px;
    border: 0px;
    background-color: var(--ds-white);
    color: black;
}

.hero {
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: var(--ds-white);
}

.hero h1 {
    font-size: 3rem;
}

.hero a {
    margin: 0 1rem;
}

.hero .download {
    color: black;
    background-color: var(--ds-white);
    padding: .75rem 2rem;
    border-radius: 40px;
}

.hero .open {
    color: var(--ds-white);
    background-color: var(--ds-dark);
    padding: .75rem 2rem;
    border-radius: 40px;
}

section h2 {
    font-size: 2.5rem;
    padding: 2rem 0;
}

section .card {
    width: 100%;
}

section.big img {
    max-width: 100%;
}

section.big h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-position: 60%;
}

section.big a {
    background-color: var(--ds-light-purple);
    margin: 1rem;
    display: inline-block;
}

section.big a span {
    padding: 0 .25rem;
}

#site_footer {
    background-color: var(--ds-dark);
    color: var(--ds-white);
    margin-top: 6rem;
}

#site_footer h2,
#site_footer h4 {
    color: var(--ds-purple);
}

#site_footer .top {
    border-bottom: 1px solid var(--ds-purple);
    padding: 3rem 0 1rem 0;
}

#site_footer .lang {
    padding: 1rem 0;
}

#site_footer .lang img {
    width: 1.5rem;
    vertical-align: middle;
}

#site_footer .lang select {
    border: 0px;
    background-color: var(--ds-dark);
    color: var(--ds-white);
}

#site_footer .top .social i{
    padding: 0 .25rem;
}

#site_footer .top h4,
#site_footer .top li {
    padding-bottom: .5rem;
}


#site_footer .bottom .row {
    justify-content: space-between;
    padding: 1rem 0 3rem 0;
}

#site_footer .bottom .register {
    background-color: var(--ds-light-purple);
    padding: .5rem 1rem;
}